<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="secondary">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar color="secondary">
      <ion-buttons collapse="true" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">My Events</ion-title>
    </ion-toolbar>
    <ion-toolbar color="secondary">
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card>
      <img src="http://placekitten.com/400/200" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="http://placekitten.com/400/200" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="http://placekitten.com/400/200" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="http://placekitten.com/400/200" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="http://placekitten.com/400/200" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
