<ion-header translucent="true">
  <ion-toolbar color="secondary">
    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="secondary">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar color="secondary">
      <ion-buttons collapse="true" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Discover</ion-title>
    </ion-toolbar>
    <ion-toolbar color="secondary">
      <ion-searchbar color="light"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="(events.nearbyEvents | async)?.length; else noEvents">
    <ion-card (click)="eventSelected(event)" *ngFor="let event of (events.nearbyEvents | async)" color="secondary">
      <img [src]="event.imgUrl" width="400" height="200" />
      <ion-card-header>
        <ion-card-subtitle>{{event.distanceInMeters ? (event.distanceInMeters | distance) + ' - ' : ''}}{{event.address.description | titlecase}}</ion-card-subtitle>
        <ion-card-title>{{event.title | titlecase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ng-template #noEvents>
    <div id="nothing-to-see">
      No nearby events found...<br>
      Pull to refresh!
    </div>
  </ng-template>
</ion-content>
