<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-title>
        Welcome, {{(session.user$ | async)?.firstname}}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="light">
  <ion-list-header color="light">What are your interests?</ion-list-header>
  <div class="chips">
    <p>
      <ion-chip *ngFor="let interest of GeneralInterests" (click)="select(interest)" [color]="interest.color">
        <ion-label>{{interest.label}}</ion-label>
      </ion-chip>
      <ion-chip color="dark">
        <ion-label (click)="addCustom()">Other</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>
    </p>
  </div>
  <ion-list-header color="light">Selected</ion-list-header>
  <div class="chips">
    <p>
      <ion-chip *ngFor="let interest of selected" (click)="deselect(interest)" [color]="interest.color">
        <ion-label>{{interest.label}}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </p>
  </div>
  <ion-button (click)="save()" [disabled]="selected.length < 1" id="letsGo" fill="solid" color="primary" expand="block">Let's Go!</ion-button>
</ion-content>
